In [2]:
import pandas as pd
df = pd.read_csv('../z20_data/stu_score1.csv',index_col='no')
df

            id  kor  eng  math  total        avg  rank      c_date
no
1      Joelynn   55   87    68    210  70.000000     0  2024-04-04
2       Bambie   73   69    77    219  73.000000     0  2024-04-01
3         Orin   92   97    90    279  93.000000     0  2024-04-04
4         Puff   98   60    78    236  78.666667     0  2024-04-04
5      Godfree   66   72    59    197  65.666667     0  2024-04-06
...        ...  ...  ...   ...    ...        ...   ...         ...
996    Wilburt   59   64    51    174  58.000000     0  2024-04-01
997    Broddie   89   53    54    196  65.333333     0  2024-04-06
998     Baxter   63   82    78    223  74.333333     0  2024-04-02
999    Ignacio   61   60    96    217  72.333333     0  2024-04-07
1000  Wallache   83   64    56    203  67.666667     0  2024-04-08

[1000 rows x 8 columns]

In [13]:
# total 220점 미만: 80, 이상이면 60으로 입력
# df['science'] = 60
flit = df['total']<220
df.loc[df[flit]>'science'] = 80

TypeError: Invalid comparison between dtype=float64 and str

In [ ]:
# total, avg 부분의 값을 변경

In [14]:
a_list = list(df.columns)
type(a_list)

list

In [15]:
a_list[0:4]

['id', 'kor', 'eng', 'math']

In [16]:
## list슬라이싱은 그대로, 1개의 슬라이싱 리스트로 변경해서, 각각의 list를 합침
df = df[a_list[0:4]+[a_list[-1]]+a_list[4:-1]]

In [17]:
df

            id  kor  eng  math  science  total        avg  rank      c_date
no
1      Joelynn   55   87    68       60    210  70.000000     0  2024-04-04
2       Bambie   73   69    77       60    219  73.000000     0  2024-04-01
3         Orin   92   97    90       60    279  93.000000     0  2024-04-04
4         Puff   98   60    78       60    236  78.666667     0  2024-04-04
5      Godfree   66   72    59       60    197  65.666667     0  2024-04-06
...        ...  ...  ...   ...      ...    ...        ...   ...         ...
996    Wilburt   59   64    51       60    174  58.000000     0  2024-04-01
997    Broddie   89   53    54       60    196  65.333333     0  2024-04-06
998     Baxter   63   82    78       60    223  74.333333     0  2024-04-02
999    Ignacio   61   60    96       60    217  72.333333     0  2024-04-07
1000  Wallache   83   64    56       60    203  67.666667     0  2024-04-08

[1000 rows x 9 columns]